global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # AWS 워커노드 + 카펜터노드 통합 수집
  - job_name: 'aws-kubernetes-cluster'
    static_configs:
      - targets: ['192.168.56.11:30081']

  # 온프레미스 서버
  - job_name: 'on-premise-nodes'
    static_configs:
      - targets:
          - '192.168.56.10:9100'
          - '192.168.56.11:9100'
          - '192.168.56.12:9100'

  # 온프레미스 DB 수집
  - job_name: 'on-premise-mysql'
    static_configs:
      - targets: ['192.168.56.11:31859']
      